@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap'); */
:root {
  --primary-color: #7e6df6;
}
body {
  font-family: Montserrat, sans-serif;
  background: #f5f5f5;
  min-height: 100vh;
  font-size: 16px;
}
.main-content {
  padding-top: 100px;
  max-width: 1024px;
  margin: auto;
}

.page {
  box-shadow: 0 15px 25px 0 rgb(0 0 0 / 10%);
  border-radius: 15px;
  overflow: hidden;
}
.page .page-header {
  padding: 50px 50px 0 50px;
  background-color: var(--primary-color);
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 30px;
}
.page-header.home-header {
  background-image: url("../images/pattern-hexagon.png");
  background-size: cover;
}

.page .page-content {
  padding: 20px 30px 50px 30px;
}

.page-header .author-information-container {
  grid-column: span 2;
}
.author-information-container .author-information {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100%;
  color: white;
}

.author-information .fullName {
  font-size: 3em;
  font-weight: 700;
}
.author-information .title {
  font-size: 1.5em;
  font-weight: 500;
}

.photo-container figure {
  margin: 0;
  margin-bottom: -15%;
  border: 3px white solid;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 3px 8px 0 rgb(0 0 0 / 10%);
  background: rgba(0, 0, 0, 0.3);
}

.page-content .aboutme-section {
  display: flex;
  gap: 1em;
  padding: 0 30px;
  margin: 0;
}
.aboutme-section .about-me h3 {
  font-weight: 700;
  font-size: 1.5em;
  line-height: 1.5em;
}
.aboutme-section .about-me h3 span {
  color: var(--primary-color);
}
.aboutme-section .about-me p {
  font-weight: 400;
  font-size: 1.01em;
  line-height: 1.5em;
}

.contact-information ul {
  list-style: none;
  padding-left: 30px;
  width: max-content;
}
.contact-information ul li {
  margin: 7px 0;
  text-align: left;
}
.contact-information ul .label {
  width: 150px;
  display: inline-block;
}
.contact-information ul .value {
  color: #9e9e9e;
}
.contact-information ul .value a {
  color: var(--primary-color);
  text-decoration: none;
}
