@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap'); */
:root {
  --primary-color: #7e6df6;
}
body {
  font-family: Montserrat, sans-serif;
  background: #f5f5f5;
  min-height: 100vh;
  font-size: 16px;
  color: #3d3d3d;
}
.main-content {
  padding-top: 100px;
  max-width: 1024px;
  margin: auto;
}

.page {
  box-shadow: 0 15px 25px 0 rgb(0 0 0 / 10%);
  border-radius: 15px;
  overflow: hidden;
  background: white;
}
.page .page-header {
  padding: 20px;
  background-color: var(--primary-color);
  margin-bottom: 30px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.page .page-header h1 {
  font-size: 3em;
  font-weight: 700;
}

.page .page-content {
  padding: 0px 30px 50px 30px;
}

.page-header.home-header {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
  background-image: url("../images/pattern-squares-circles.png");
  background-size: cover;
  padding-bottom: 0;
}
.page-header .author-information-container {
  grid-column: span 2;
}
.author-information-container .author-information {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.author-information .fullName {
  font-size: 3em;
  font-weight: 700;
}
.author-information .title {
  font-size: 1.5em;
  font-weight: 500;
}
.photo-container figure {
  margin: 0;
  margin-bottom: -15%;
  border: 3px white solid;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 3px 8px 0 rgb(0 0 0 / 10%);
  background: rgba(0, 0, 0, 0.3);
}

.page-content .aboutme-section {
  display: flex;
  gap: 1em;
  padding: 0 30px;
  margin: 0;
}
.aboutme-section .about-me h3 {
  font-weight: 700;
  font-size: 1.5em;
  line-height: 1.5em;
}
.aboutme-section .about-me h3 span {
  color: var(--primary-color);
}
.aboutme-section .about-me p {
  font-weight: 400;
  font-size: 1.01em;
  line-height: 1.5em;
}

.contact-information ul {
  list-style: none;
  padding-left: 30px;
  width: max-content;
}
.contact-information ul li {
  margin: 7px 0;
  text-align: left;
}
.contact-information ul .label {
  width: 150px;
  display: inline-block;
}
.contact-information ul .value {
  color: #9e9e9e;
}
.contact-information ul .value a {
  color: var(--primary-color);
  text-decoration: none;
}

.page-header.resume-header {
  background-image: url("../images/pattern-squares-circles-2.png");
  background-size: cover;
}
.page-content.resume-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}
.resume-content .title h3 {
  font-size: 1.8em;
}
.timeline {
  border-left: 2px solid #e0e0e0;
  padding: 15px 0;
}
.timeline .timeline-item {
  position: relative;
  padding: 15px 20px 10px;
  border-left: 2px solid var(--primary-color);
  margin: 0 0 20px 20px;
  background: white;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2);
}
.timeline .timeline-item:before {
  content: " ";
  display: inline-block;
  background-color: var(--primary-color);
  height: 2px;
  width: 30px;
  position: absolute;
  top: 25px;
  left: -30px;
}
.timeline .timeline-item:after {
  background: white;
  border: 2px solid var(--primary-color);
  content: " ";
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  position: absolute;
  top: 18px;
  left: -31px;
}

.timeline-item .item-title {
  font-size: 1em;
  margin: 0;
}
.timeline-item .item-period,
.timeline-item .item-small {
  display: inline-block;
  font-size: 0.75em;
  color: var(--primary-color);
  margin-bottom: 8px;
}
.timeline-item .item-period {
  color: var(--primary-color);
}

.timeline-item .item-small {
  color: #9e9e9e;
  margin-left: 5px;
  padding-left: 8px;
  border-left: 1px solid #e0e0e0;
}
.timeline-item .item-description {
  font-size: 0.9em;
}

.page-header.portafolio-header {
  background-image: url("../images/pattern-squares-circles-triangles.png");
  background-size: cover;
}
.page-header.blog-header {
  background-image: url("../images/pattern-squares-circles-2.png");
  background-size: cover;
}
